body {
	background-color: #051428;
}

.App {
	background-color: lightsteelblue;
}

.AppBar {
	background-color: #111111;
	padding: 10px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom: solid 5px #2C2D2F;

}

.classname {
	color: white;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}

.heading-secondary {
	font-size: 25px;
	color: black;
	font-weight: 700;
	margin-left: 10px;
}

.today {
	margin-top: 20px;
}

.today-card {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

.card-left {
	padding-top: 10px;
	background-color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom: solid 2px black;
	height: 70px;
}

.card-right {
	height: 70px;
	background-color: white;
	padding-top: 18px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: solid 2px black;
}

.time {
	margin-top: 15px;
	font-weight: 500;
}

.teacher {
	font-size: 13px;
}

.subject {
	font-size: 13px;
	font-weight: 600;

}

.linkbtn {
	width: 105px;
	font-size: 14px;
	font-weight: 500;
	background-color: #5664FC;
	color: white;
	border: 2px solid black;
}

/* for active hour */
.ac {
	background-color: #FC7D7D;
	color: white;
	border-bottom: 2px solid black;
}

/* table */
.timetable {
	margin-top: 15px;
}

.table-custom {
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	border-collapse: separate;
}

.h {
	font-weight: 500;
	text-align: center;
}

.d {}
